$color-primary: #1e9659;
$color-secondary: #FAC055;

$bg-color-lne: #FCE4EC;
$bg-color-lcf: #FFFAF6;
$bg-color-ldp: #e9f9fb;
$bg-color-lpg: #F9FFF7;

$font-family-lne-head: 'Chalkduster', 'fantasy';
$font-family-lne-para: 'Bradley Hand', 'cursive';