@import './abstracts/variables';
@import './abstracts/functions';
@import './abstracts/mixins';

@import './base/reset';
@import './base/typography';

@import './components/buttons';
@import './components/carousel';
@import './components/slider';

@import './layout/navigation';
@import './layout/grid';
@import './layout/header';
@import './layout/footer';
@import './layout/sidebar';
@import './layout/forms';

@import './pages/home';
@import './pages/about';
@import './pages/contact';

@import './themes/theme';
@import './themes/admin';

@import './vendors/bootstrap';
@import './vendors/jquery-ui';

body {
  margin: auto;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.article{
  margin: 65px 0 45px 0; }

div.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 45px 50px;
}

section.block-menu {
  height: 450px;
  width: 290px;
  padding: 30px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 0.5px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &--lne {
    background-color: $bg-color-lne;  }
  &--lcf {
    background-color: $bg-color-lcf;  }
  &--ldp {
    background-color: $bg-color-ldp;  }
  &--lpg {
    background-color: $bg-color-lpg;  }
  h2.block-menu__title {
    margin: 0;
    &--lne {
      font-weight: 900;
      font-size: 27px;
      font-family: 'Chalkduster', 'fantasy';
    }
    &--lcf {
      font-weight: bolder;
      font-size: 32px;
      font-family: 'Snell Roundhand', 'cursive';
      background: linear-gradient(165deg, #ff8000 0%, #9480b3 50%, #562dd2 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--ldp {
      font-weight: lighter;
      font-size: 32px;
      font-family: 'Bradley Hand', 'cursive';
      background: linear-gradient(170deg, #0000cc 0%, #99e6ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--lpg {
      font-weight: 100;
      font-size: 36px;
      font-family: 'Apple Chancery', 'cursive';
      background: linear-gradient(140deg, #00802b 0%, #aaff80 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  h3.block-menu__byline {
    margin-bottom: 0;
    margin-top: 10px;
    &--lne {
      color: black;
      font-size: 35px;
      font-weight: 100;
      font-family: 'Bradley Hand', 'cursive';
    }
    &--lcf {
      color: #cc6600;
      font-size: 42px;
      font-weight: 100;
      font-family: serif;
    }
    &--ldp {
      color: #3333ff;
      font-size: 42px;
      font-family: 'Bradley Hand', 'cursive';
    }
    &--lpg {
      color: #00b33c;
      font-size: 42px;
      font-family: 'Bradley Hand', 'cursive';
    }
  }
}

div.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 45px;
}

@media screen
and (min-width:1500px){
  header {
    background-color: red;
  }
}

/* ----------- 480px - 819px ----------- */
@media screen
and (min-width:481px)
and (max-width:819px){
  div.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px; }
  div.article{
    margin: 50px 0; }
}

/* ----------- 0 - 480px ----------- */
@media screen
and (max-width:480px){
  div.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px; }
  div.article{
    margin: 30px 0; }
}
