@import './abstracts/variables';
@import './abstracts/functions';
@import './abstracts/mixins';

@import './base/reset';
@import './base/typography';

@import './components/buttons';
@import './components/carousel';
@import './components/slider';

@import './layout/navigation';
@import './layout/body';
@import './layout/header';
@import './layout/footer';
@import './layout/sidebar';
@import './layout/main';

@import './pages/lanoteenchantee';
@import './pages/lapalettedugout';
@import './pages/lechicalafrancaise';
@import './pages/ledelicedespapilles';

@import './themes/theme';
@import './themes/admin';

@import './vendors/bootstrap';
@import './vendors/jquery-ui';

div.article {
  margin: 65px 0 45px 0;
}

div.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 45px 40px;
}

i.fab.fa-itunes-note {
  font-size: 3.5em;
  font-weight: 100;
  background: linear-gradient(140deg, #ff0066 0%, #ff9966 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.block-menu {
  height: 500px;
  width: 340px;
  margin-bottom: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 0.5px rgba(0, 0, 0, 0.08);

  &--lne {
    background-color: $bg-color-lne;
  }

  &--lcf {
    background-color: $bg-color-lcf;
  }

  &--ldp {
    background-color: $bg-color-ldp;
  }

  &--lpg {
    background-color: $bg-color-lpg;
  }

  h2.block-menu__title {
    margin: 0;

    &--lne {
      font-weight: 900;
      font-size: 27px;
      font-family: 'Chalkduster', 'fantasy';
    }

    &--lcf {
      font-weight: bolder;
      font-size: 32px;
      font-family: 'Snell Roundhand', 'cursive';
      background: linear-gradient(165deg, #ff8000 0%, #9480b3 50%, #562dd2 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--ldp {
      font-weight: lighter;
      font-size: 32px;
      font-family: 'Bradley Hand', 'cursive';
      background: linear-gradient(170deg, #0000cc 0%, #99e6ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--lpg {
      font-weight: 100;
      font-size: 36px;
      font-family: 'Apple Chancery', 'cursive';
      background: linear-gradient(140deg, #00802b 0%, #aaff80 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  h3.block-menu__byline {
    margin-bottom: 0;
    margin-top: 10px;

    &--lne {
      @include block-menu__byline--lne(#000000);
    }

    &--lcf {
      @include block-menu__byline--lcf(#cc6600);
    }

    &--ldp {
      @include block-menu__byline--ldp(#3333ff);
    }

    &--lpg {
      @include block-menu__byline--lpg(#00b33c);
    }
  }
}

span::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

span:hover::after {
  width: 100%;
}

div.block-animation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
  align-items: center;
  transition: transform 450ms, opacity 250ms 50ms;

  &:hover {
    transform: scale(1.1);
    opacity: 0.5;
  }
}

div.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 45px;
}

/*
@media screen
and (min-width:1500px){
  header {
    background-color: red;
  }
}
*/
/* ----------- 480px - 819px ----------- */
@media screen and (min-width: 480px) and (max-width: 819px) {
  div.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
  div.article {
    margin: 70px 0 60px 0;
  }
}

/* ----------- 0 - 479px ----------- */
@media screen and (max-width: 479px) {
  div.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  div.article {
    margin: 70px 0 60px 0;
  }

  i.fab.fa-itunes-note {
    font-size: 2.9em;
    font-weight: 100;
    background: linear-gradient(140deg, #ff0066 0%, #ff9966 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  section.block-menu {
    height: 350px;
    width: 240px;
    margin-bottom: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 0.5px rgba(0, 0, 0, 0.08);

    &--lne {
      background-color: $bg-color-lne;
    }

    &--lcf {
      background-color: $bg-color-lcf;
    }

    &--ldp {
      background-color: $bg-color-ldp;
    }

    &--lpg {
      background-color: $bg-color-lpg;
    }

    h2.block-menu__title {
      margin: 0;

      &--lne {
        font-weight: 900;
        font-size: 20px;
        font-family: 'Chalkduster', 'fantasy';
      }

      &--lcf {
        font-weight: bolder;
        font-size: 23px;
        font-family: 'Snell Roundhand', 'cursive';
        background: linear-gradient(165deg, #ff8000 0%, #9480b3 50%, #562dd2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &--ldp {
        font-weight: lighter;
        font-size: 25px;
        font-family: 'Bradley Hand', 'cursive';
        background: linear-gradient(170deg, #0000cc 0%, #99e6ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &--lpg {
        font-weight: 100;
        font-size: 25px;
        font-family: 'Apple Chancery', 'cursive';
        background: linear-gradient(140deg, #00802b 0%, #aaff80 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    h3.block-menu__byline {
      margin-bottom: 0;
      margin-top: 10px;
      font-size: 26px;
    }
  }
}
