body {
  margin: auto;
  height: auto;
  font-family: Arial, sans-serif;
}

header.header-body {
  background-color: #778beb;
  padding: 19px 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.08);
  width: 100%;
  height: auto;
}

h1.title-header {
  color: #ffc966;
  margin: 0;
  text-align: center;
  letter-spacing: -1.5px;
  font-size: 3.1em;
}

a.link-header {
  text-decoration: none;
}

h2.title-section {
  color: black;
  margin: 0;
  text-align: center;
  letter-spacing: -1.3px;
  font-size: 2em;
  margin: 45px 0 15px 0;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

main.main-body {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

article.article-body{
  margin-bottom: 100px;
}

footer {
  background-color: #778beb;
  padding: 14px 23px;
  box-shadow: 2px 0 0 2px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.08);
  height: auto;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

a.link-footer {
  font-size: 1.2em;
  color: #ffc966;
  margin: 0;
  text-decoration: none;
}
/*$$$$$$$$$$$$$$$$$$$$$$$PAS TOUCHE^^^^^^^^^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

main.menu {
  height: auto;
  width: auto;
  background-color: #FFFAF6;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 0.5px rgba(0,0,0,0.08);
  padding: 50px 70px 30px 70px;
}

header.header-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.titre-menu {
  margin: 0 90px 60px 90px;
  font-weight: bolder;
  font-size: 60px;
  font-family: 'Snell Roundhand', 'cursive';
  background: linear-gradient(165deg, #ff8000 0%, #9480b3 50%, #562dd2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.primary{
  color: #cc6600;
}
.secondary{
  color: #9480b3;
}
.purple {
  color: #562dd2;
}

div.inline{
  display: flex;
  justify-content: space-between;
}
section {
  margin-bottom: 70px;
}
section.section-last {
  margin-top: 40px;
  margin-bottom: 120px;
}
div.padding-section {
  padding-left: 40px;
  padding-right: 40px;
}

h2.htitre-menu{
  font-size: 30px;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 13px;
  margin-top: 0px;
  font-family: 'Snell Roundhand', 'cursive';
  font-weight: bold;
}


h2.primary::before, h2::after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 5px;
  content: '';
}
h2.primary::before {
  margin-left: -50%;
  text-align: right;
  background-color: #cc6600
}
h2.primary::after {
  margin-left: 50px;
  background-color: #cc6600;
  height: 5px;
}

h2.secondary::before, h2::after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 5px;
  content: '';
}
h2.secondary::before {
  margin-left: -50%;
  text-align: right;
  background-color: #9480b3;
}
h2.secondary::after {
  margin-left: 50px;
  height: 5px;
  background-color: #9480b3;
}
h2.purple::before, h2::after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 5px;
  content: '';
}
h2.purple::before {
  margin-left: -50%;
  text-align: right;
  background-color: #562dd2;
}
h2.purple::after {
  margin-left: 50px;
  height: 5px;
  background-color: #562dd2;
}

p {
  font-size: 17px;
  font-weight: bolder;
  margin-bottom: 0;
  font-family: 'Apple Chancery', 'cursive';
}

p.price{
  font-family: 'Snell Roundhand', 'cursive';
}
