h2.heading {
  @include heading-menu;
}

section.big-block-menu {
  height: auto;
  width: auto;
  margin-bottom: 130px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 0.5px rgba(0, 0, 0, 0.08);
  padding: 60px 80px 60px 80px;

  &--lne {
    background-color: $bg-color-lne;
  }

  &--lcf {
    background-color: $bg-color-lcf;
  }

  &--ldp {
    background-color: $bg-color-ldp;
  }

  &--lpg {
    background-color: $bg-color-lpg;
  }

  header.menu-header {
    @include header-menu;
  }

  h2.menu-heading {
    font-size: 50px;
    margin: 0 130px;

    &--lne {
      font-family: $font-family-lne-head;
      color: black;
    }

    &--lcf {
      font-size: 80px;
      margin-top: 60px;
      margin-bottom: 60px;
      font-family: $font-family-lcf-head;
      background: $color-linear-lcf;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--ldp {
      font-size: 80px;
      margin-top: 60px;
      margin-bottom: 60px;
      font-family: $font-family-ldp-head;
      background: $color-linear-ldp;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--lpg {
      font-size: 80px;
      margin-top: 60px;
      margin-bottom: 60px;
      font-family: $font-family-lpg-head;
      background: $color-linear-lpg;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  section.menu-section__last {
    margin-bottom: 142px;
  }

  div.section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2.seg-title {
    font-size: 39px;
    text-align: center;
    margin: 0 8px;
    color: black;

    &--lne {
      font-family: $font-family-lne-head;
      color: black;
      font-size: 34px;
    }

    &--lcf {
      font-family: $font-family-lcf-head;

      &__orange {
        color: $font-color-lcf-orange;
      }

      &__purple {
        color: $font-color-lcf-purple;
      }

      &__purpledark {
        color: $font-color-lcf-darkpurple;
      }
    }

    &--ldp {
      font-family: $font-family-ldp-head;
    }

    &--lpg {
      font-family: $font-family-lpg-head;
    }
  }

  span::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s;
  }

  span:hover::after {
    width: 100%;
  }


  div.block-para-menu {
    padding: 0 50px;
    margin-bottom: 80px;

    &__padd {
      padding: 0 100px;
    }
  }

  div.inline {
    display: flex;
    justify-content: space-between;
  }

  p.menu-para {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 24px;

    &--lne {
      font-family: $font-family-lne-para;
      font-size: 25px;
    }


    &--lcf {
      font-family: $font-family-lcf-para;
    }

    &--ldp {
      font-family: $font-family-ldp-para;
    }

    &--lpg {
      font-family: $font-family-lpg-para;
    }
  }

  .orange {
    color: $font-color-lcf-orange;
  }

  .purple {
    color: $font-color-lcf-purple;
  }

  .darkpurple {
    color: $font-color-lcf-darkpurple;
  }

  p.menu-para__price {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 22px;

    &--lne {
      font-family: $font-family-lne-head;
    }


    &--lcf {
      font-family: $font-family-lcf-head;
      font-size: 25px;
    }

    &--ldp {
      font-family: $font-family-ldp-head;
    }

    &--lpg {
      font-family: $font-family-lpg-head;
    }
  }

  footer.menu-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3.footer-title {
    font-family: $font-family-lne-head;
    font-size: 1.8em;
    margin: 0 15px;
  }
}