html{
  background-color: black;
}

body {
  background-color: #F7FFF8;
  margin: 18px 90px;
  padding: 130px 40px 100px 40px;
}

header.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary{
  color: #cc6600;
}
.secondary{
  color: #9480b3;
}
.purple {
  color: #562dd2;
}

h1 {
  margin: 0px;
  font-weight: bolder;
  font-size: 65px;
  margin-bottom: 90px;
  font-family: 'Snell Roundhand', 'cursive';
  background: linear-gradient(165deg, #ff8000 0%, #9480b3 50%, #562dd2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.inline{
  display: flex;
  justify-content: space-between;
}
section {
  margin-top: 40px;
  margin-bottom: 60px;
}

div.padding-section {
  padding: 0 120px;
}
h2{
  font-size: 35px;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 13px;
  margin-top: 0px;
  font-family: 'Snell Roundhand', 'cursive';
  font-weight: bold;
}

h2.primary::before, h2::after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 5px;
  content: '';
}
h2.primary::before {
  margin-left: -50%;
  text-align: right;
  background-color: #cc6600
}
h2.primary::after {
  margin-left: 50px;
  background-color: #cc6600;
  height: 5px;
}

h2.secondary::before, h2::after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 5px;
  content: '';
}
h2.secondary::before {
  margin-left: -50%;
  text-align: right;
  background-color: #9480b3;
}
h2.secondary::after {
  margin-left: 50px;
  height: 5px;
  background-color: #9480b3;
}
h2.purple::before, h2::after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 5px;
  content: '';
}
h2.purple::before {
  margin-left: -50%;
  text-align: right;
  background-color: #562dd2;
}
h2.purple::after {
  margin-left: 50px;
  height: 5px;
  background-color: #562dd2;
}

p {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 0;
  font-family: 'Apple Chancery', 'cursive';
}

p.price{
  font-family: 'Snell Roundhand', 'cursive';
}
