
h2.title-section {
  color: black;
  margin: 0;
  text-align: center;
  letter-spacing: -1.3px;
  font-size: 2em;
  margin: 45px 0 15px 0;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

article{
  margin-bottom: 100px;
}

/*$$$$$$$$$$$$$$$$$$$$$$$PAS TOUCHE^^^^^^^^^$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

section {
  height: 1100px;
  width: 950px;
  background-color: #FCE4EC;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 0.5px rgba(0,0,0,0.08);
}