div.block{
  @include margin-bttm-block;
}
h2.heading {
  @include heading-menu;
}

section.big-block-menu {
  height: 1100px;
  width: 950px;
  margin-bottom: 0;
  background-color: $bg-color-lne;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 0.5px rgba(0,0,0,0.08);
}