/*h2.heading {
  @include heading-menu;
}

div.block {
  @include margin-bttm-block;
}

section.big-block-menu {
  @include section-menu;
  background-color: $bg-color-lne;
}

header.menu-header {
  @include header-menu;
}

i.fab.fa-itunes-note.big {
  font-size: 7em;
  background: linear-gradient(140deg, #ff0066 0%, #ff9966 100%);
  -webkit-background-clip: text;
}

h1.menu-heading {
  @include base-title-menu($font-family-lne-head, black);
}

section.menu-section {
  @include bottom-menu-section;
}

h2.seg-title {
  @include title-thinks-menu($font-family-lne-para);
}

div.inline {
  @include para-price-inline;
}

p.menu-para {
  @include paragraphe-menu($font-family-lne-para);

  &__price {
    @include price-menu($font-family-lne-head);
  }
}

footer.menu-footer {
  @include block-footer-menu;
}

h3.footer-title {
  margin: 0 0 0 15px;
  font-size: 30px;
  font-family: $font-family-lne-head;
}

/*
h2.title-section {
  color: black;
  margin: 0;
  text-align: center;
  letter-spacing: -1.3px;
  font-size: 2em;
  margin: 45px 0 15px 0;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

article{
  margin-bottom: 100px;
}
*/

/*
main.menu {
  height: auto;
  width: auto;
  background-color: #e9f9fb;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 0.5px rgba(0,0,0,0.08);
  padding: 50px 70px 30px 70px;
}

header.header-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.titre-menu {
  margin: 0 90px 40px 90px;
  font-weight: 100;
  font-size: 50px;
  font-family: 'Bradley Hand', 'cursive';
  background: linear-gradient(170deg, #0000cc 0%, #99e6ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.inline{
  display: flex;
  justify-content: space-between;
}
section {
  margin-bottom: 70px;
}
section.section-last {
  margin-top: 40px;
  margin-bottom: 120px;
}
div.padding-section {
  padding-left: 40px;
  padding-right: 40px;
}

h2.hmenu-one{
  font-size: 25px;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 13px;
  margin-top: 0px;
  font-family: 'Bradley Hand', 'cursive';
  font-weight: lighter;
  color: black;
}

h2.hmenu-one::before, h2.hmenu-one::after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 5px;
  content: '';
}
h2.hmenu-one::before {
  margin-left: -50%;
  text-align: right;
  background-color: #0000cc;
}
h2.hmenu-one::after {
  margin-left: 50px;
  background-color: #0000cc;
  height: 5px;
}

h2.hmenu-two{
  font-size: 25px;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 13px;
  margin-top: 0px;
  font-family: 'Bradley Hand', 'cursive';
  font-weight: lighter;
  color: black;
}

h2.hmenu-two::before, h2.hmenu-two::after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 5px;
  content: '';
}
h2.hmenu-two::before {
  margin-left: -50%;
  text-align: right;
  background-color: #3399ff;
}
h2.hmenu-two::after {
  margin-left: 50px;
  background-color: #3399ff;
  height: 5px;
}

h2.hmenu-three{
  font-size: 25px;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 13px;
  margin-top: 0px;
  font-family: 'Bradley Hand', 'cursive';
  font-weight: lighter;
  color: black;
}

h2.hmenu-three::before, h2.hmenu-three::after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 5px;
  content: '';
}
h2.hmenu-three::before {
  margin-left: -50%;
  text-align: right;
  background-color: #99e6ff;
}
h2.hmenu-three::after {
  margin-left: 50px;
  background-color: #99e6ff;
  height: 5px;
}

p {
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 0px;
  font-family: 'Bradley Hand', 'cursive';
}

p.price{
  font-family: 'Bradley Hand', 'cursive';
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
}
*/