html{
  background-color: black;
}

body {
  background-color: #f2ffff;
  margin: 18px 90px;
  padding: 150px 40px 100px 40px;
}

header.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  margin: 0px;
  font-weight: bolder;
  font-size: 75px;
  margin-bottom: 80px;
  font-family: 'Bradley Hand', 'cursive';
  font-weight: bolder;
  background: -webkit-gradient(linear, right top, right bottom, from(#3333ff), to(#33ccff));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.inline{
  display: flex;
  justify-content: space-between;
}
section {
  margin-top: 40px;
  margin-bottom: 70px;
}
div.padding-section {
  padding: 0 120px;
}

h2{
  font-size: 30px;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 13px;
  margin-top: 0px;
  font-family: 'Bradley Hand', 'cursive';
  font-weight: lighter;
  color: black;
}

h2.primary::before, h2::after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 5px;
  content: '';
}
h2.primary::before {
  margin-left: -50%;
  text-align: right;
  background-color: #3333ff;
}
h2.primary::after {
  margin-left: 50px;
  background-color: #3333ff;
  height: 5px;
}

h2.secondary::before, h2::after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 5px;
  content: '';
}
h2.secondary::before {
  margin-left: -50%;
  text-align: right;
  background-color: #3399ff;
}
h2.secondary::after {
  margin-left: 50px;
  height: 5px;
  background-color: #3399ff;
}

h2.three::before, h2::after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 5px;
  content: '';
}
h2.three::before {
  margin-left: -50%;
  text-align: right;
  background-color: #33ccff;
}
h2.three::after {
  margin-left: 50px;
  height: 5px;
  background-color: #33ccff;
}

p {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 13px;
  font-family: 'Bradley Hand', 'cursive';
}

p.price{
  font-family: 'Bradley Hand', 'cursive';
  font-weight: bold;
  font-size: 30px;
  margin-top: 22px;
}

i.fa-itunes-note.deux{
  font-size: 4.3em;
  font-weight: 100;
  color: #BA68C8;
}

h3{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
  font-size: 30px;
  font-family: 'Chalkduster', 'fantasy';
  font-weight: lighter;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
